<!DOCTYPE html>
<html>
  <head>
    <title>Braid.io | Thanks or signing up</title>

  </head>
  <body style="background: #f7f7f7; font-family: 'Helvetica Neue', Helvetica, sans-serif; margin: 0; padding: 0" bgcolor="#f7f7f7">
<style type="text/css">
@media screen and (max-width: 480px) {
  .container {
    width: 100% !important;
  }
  .pad-top {
    padding-top: 0 !important;
  }
  .padded {
    padding: 20px 20px 20px 20px !important;
  }
}
body {
font-family: "Helvetica Neue", Helvetica, sans-serif; background: #f7f7f7; padding: 0 0 0 0; margin: 0 0 0 0;
}
</style>
    <table class="email-wrap" style="align: center; background: #f7f7f7; border: 0; cellpadding: 0; cellspacing: 0; padding-bottom: 50px; padding-top: 50px; width: 100%" bgcolor="#f7f7f7">
      <tr>
        <td>
          <table class="full-width" style="width: 100%">
            <tr>
              <td class="align-center" style="text-align: center" align="center">
                <img class="logo" src="assets/logo@2x.png" alt="" style="width: 150px">
              </td>
            </tr>
            <tr class="no-space align-center" style="border: 0; cellpadding: 0; cellspacing: 0; text-align: center" align="center">
              <td class="align-center" style="text-align: center" align="center">
                <h1 class="h1" style="color: #4a4a4a; font-weight: 400">Hey {{name}}</h1>
                <h2 class="h2" style="color: #4a4a4a; font-weight: 400">Thanks for Signing Up!</h2>
                </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table class="container" style="background: #ffffff; border: 1px solid #c7c7c7; margin: 0 auto; width: 600px" bgcolor="#ffffff">
            <tr>
              <td class="align-center pad-top" style="padding-top: 80px; text-align: center" align="center">
                <img src="https://ci5.googleusercontent.com/proxy/deDI7K4QYNUE6VUTG3q2St_kux0R5K1HIXo11cWVbDYV4q6uXF_3rv30m-Aiv_qRkiTo0zS3boffvtBI5cxmUywyspxh1nmsPG9bnNLnBmNUBi3vmGDvKuw6puYMYZ70uUuywCIX0trpn9vsYGNV7GvL=s0-d-e1-ft#http://media.tumblr.com/d7437511768f006890aa4af9d564ef13/tumblr_inline_n7uwpjqDW51sp4iu2.gif" alt="">
              </td>
            </tr>
            <tr>
              <td class="padded" style="padding: 20px 100px">
                <p style="color: #666">You&rsquo;ve just signed up to use braid. Thank You!</p>
                <p style="color: #666">You should recieve an email soon asking you to verify your account, please make sure you verify your account so that it doesn&rsquo;t get deleted after a while.</p>
                <p style="color: #666">Other than that you can now access your account at <a href="http://www.braid.io/login" style="color: #4A90E2; text-decoration: none">braid.io/login</a></p>
              </td>
            </tr>
            <tr>
              <td class="pad-bottom" style="padding-bottom: 80px">
                <a href="http://www.braid.io/login" class="btn" style="background: #4A90E2; color: #fff; display: block; margin: 0 auto; padding: 20px 15px; text-align: center; text-decoration: none; width: 100px">Get Started</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
